/* Homepage.css */

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

* {
    font-family: "Atkinson Hyperlegible Mono", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1440px;
    min-height: 700px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* Kanban Board */
.kanban-board {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 15px;
    /* border: 1px solid #000000; */
}

.loading-container, .error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}
