/* Kanban Column */
.kanban-column {
    /* background-color: #1f1f1f; */
    padding: 15px;
    border-radius: 8px;
    width: 23%;
    min-height: 400px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.kanban-column h2 {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

/* Button */
button {
    background-color: #000000;
    color: white;
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 245px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #ffffff;
    border: 2px solid #000000;
    color: #000000;
}

/* Add Card Form */
.add-card-form {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 3px solid #000000;
}

.add-card-form input,
.add-card-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    outline: none;
    border: none;
}

.add-card-form input:hover,
.add-card-form textarea:hover {
    border: #000000;
}

.add-card-form textarea {
    height: 120px;
    resize: none;
}
